name: youtube_player
description: "A Flutter plugin for embedding and controlling YouTube videos natively on Android and iOS."
version: 0.0.1
repository: https://github.com/ABWABDIGITAL/youtube_player
homepage: https://abwabdigital.com

environment:
  sdk: ^3.7.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.abwab.native_youtube_player.youtube_player
        pluginClass: YoutubePlayerPlugin
      ios:
        pluginClass: YoutubePlayerPlugin
